.hero-image-mob {
    height: auto;
    width: 80vw;
    padding-left: 3vw;
}
.hero-parent {
    position: relative;
}
.mobile-text {
    position: absolute;
    top: 70%;
    align-content: left;
    padding-left: 10vw;
    padding-left: 10vw;
}
.my-name-mob {
    color: var(--white);
    font-family: Cabin;
    margin: 0px;
    padding: 0px;
    font-size: 9vh;
    text-align: left;
}

.sub-occ-mob {
    font-family: Cabin;
    text-align: left;
    color: #F19C79;
    font-style: italic;
    font-size: 4vw;
    margin: 0;
}

.edu-year-mob {
    font-family: Cabin;
    text-align: left;
    color: #89CFF0;
    font-size: 4vw;
    padding-top: 4vh;
}

.socials-logos-mob {
    padding-left: 6vw;
    height: 4vh;
    width: auto;
    vertical-align: middle;
}

.align-the-button-mob {
    display: flex;
    flex-direction: row;
    vertical-align: middle;
    /* align-content: flex-start; */
}
.hire-btn-mob {
    vertical-align: middle;
    background-color: var(--palegreen);
    color: var(--white);
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    border-radius: 10px;
    border-style: inset;
    border-color:var(--darkgreen);
    font-size: medium;
    align-self: flex-start;
    
}
.hire-btn-mob:hover {
    background-color: var(--palepink);
    transition: background-color 0.3s ease-in-out;
    border-color:var(--redbrown);
    transition: border-color 0.3s ease-in-out;
    /* color: var(--black);
    transition: color 0.3s ease-in-out;
    font-size: x-large; */
}
