.landing-body {
    background-image: url(./background.png);
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background-attachment: fixed;
    padding-block-start: 10vh;
}


.hero-banner {
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5vh;
}

.all-text {
    vertical-align:middle;
    padding-right: 3vw;
    
}

.my-name {
    color: rgb(255, 255, 255);
    font-family: Cabin;
    margin: 0px;
    font-size: 7vw;
    text-align: left;
}

.sub-occupation {
    font-family: Cabin;
    text-align: left;
    color: #F19C79;
    font-style: italic;
    font-size: 2.5vw;
    margin: 0;
}

.edu-year {
    font-family: Cabin;
    text-align: left;
    color: #89CFF0;
    font-size: 1.75vw;
}

.pos-one::before {
    color: #D4E09B;
    font-style: italic;
    content: "President ";
}
.pos-one {
    font-family: Cabin;
    text-align: left;
    color: #ffffff;
    font-size: 1.75vw;
    margin: 0;
    padding-bottom: 1.5vh;
}

.pos-two::before {
    color: #D4E09B;
    font-style: italic;
    content: "Co-Chairperson ";
}
.pos-two {
    font-family: Cabin;
    text-align: left;
    color: #ffffff;
    font-size: 1.75vw;
    margin: 0;
    padding-bottom: 1.5vh;
}

.pos-three::before {
    color: #D4E09B;
    font-style: italic;
    content: "VP Finance ";
}
.pos-three {
    font-family: Cabin;
    text-align: left;
    color: #ffffff;
    font-size: 1.75vw;
    margin: 0;
    padding-bottom: 1.5vh;
}

.pos-four::before {
    color: #D4E09B;
    font-style: italic;
    content: "Director of Marketing ";
}
.pos-four {
    font-family: Cabin;
    text-align: left;
    color: #ffffff;
    font-size: 1.75vw;
    margin: 0;
    padding-bottom: 1.5vh;
}

.hero-image {
    align-self: right;
    height: 40vw;
    width: auto;
    padding-left: 3vw;
}