/* GENERAL PAGE FORMATTING */
.resume-mobile-margins {
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 5vw;
    margin-left: 5vw;
    /* border: 2px solid var(--palepink) ; */
}
.column-flex {
    display: flex;
    flex-direction: column;
}
.no-bottom-margin {
    margin-bottom: 0;
}
.italicize {
    font-style: italic;
}

/* BANNER AREA */
.mobile-banner {
    /* justify-content: center; */
    font-family: Cabin;
    font-size: 4vh;
    color: var(--white);
    align-items: center;
}
.name-and-job {
    vertical-align: middle;
    text-align: left;
    /* justify-content: space-between;
    margin-bottom: auto; */
    align-items: center;
}
.mobile-profile-icon {
    width: auto;
    height: 15vh;
    /* margin-right: 2vw; */

}
.mobile-name-banner {
    margin: 0;
}
.mobile-job-banner {
    margin: 0;
    font-style: italic;
    font-size: 7vw;
    color: var(--palepink);
}
.mobile-banner-text {
    color: var(--white);
    font-family: Cabin;
    font-size: 1.75vh;
    text-align: left;
    margin-top: 2vh;
}

/* COLLAPSIBLE DIVS */

.collapsible-label-closed {
    margin-top: 2vh;
    color: var(--palegreen);
    font-family: Cabin;
    font-size: 2.75vh;
    text-align: left;
    border-bottom: 2px solid #3F4541 ;
}
.collapsible-label-open {
    margin-top: 2vh;
    color: var(--paleblue);
    font-family: Cabin;
    font-size: 2.75vh;
    text-align: left; 
}
.bg-card-colour {
    background-color: rgba(61, 75, 71, 0.10);
    border-top: 2px solid var(--redbrown) ;
    padding-top: 1vh;
    padding-bottom: 1vh;
}



/* EDUCATION */
.education-card {
    color: var(--white);
    font-family: Cabin;
    padding-left: 2vw;
    padding-right: 2vw;
}
.mobile-inst-year {
    
    font-size: 4vw;
    font-weight: lighter;
    margin-bottom: 0;
}
.educard-year {
    font-style: italic;
    text-align: right;
    margin-left: auto;
}
.education-details {
    font-size: 4vw;
}

/* TOOLS AND TECHNOLOGIES */
.tools-n-tech {
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
}
.mobile-tools-icons {
    height: 10vw;
    width: auto;
    margin-right: auto;
    margin-left: auto;
}

/* PROJECTS */
.project-card {
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--white);
    font-size: 4vw;
    /* padding-bottom: 0.5vh; */
}
.mobile-proj-title {
    color: var(--palepink);
}
.mobile-proj-subtitle {
    margin-left: 1vw;
}
.mobile-proj-details {
    margin-left: 1vw;
    font-size: 1.75vh;
}

/* PRO EXP */
.pro-exp-card {
    padding-left: 2vw;
    padding-right: 2vw;
    color: var(--white);
    font-size: 4vw;
    /* padding-bottom: 0.5vh; */
}
.mobile-proexp-title {
    color: var(--palepink);
}
.mobile-proexp-subtitle {
    margin-left: 1vw;
}
.mobile-proexp-details {
    margin-left: 1vw;
    font-size: 1.75vh;
}

/* CONTACT ME */
.mobile-contact {
    margin-left: 2vw;
    display: flex;
    flex-direction: row;
    font-size: 2vh;
    color: var(--white);
    margin-bottom: 1vh;
    font-style: normal;
}
.mobile-contact-icon {
    height: auto;
    width: 3vh;
    margin-right: 2vw;
}
.mobile-contact-text {
    margin: 0;
    vertical-align: middle;
}