.resume-body {
    background-image: url(./background.png);
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    max-height: fit-content;
    background-attachment: fixed;
    padding-block-start: 10vh;
    padding-bottom: 5vw;
}

.row-one {
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
    justify-content: center;
}

.row-two {
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    margin-right: 5vw;
    margin-left: 5vw;
    justify-content: center;
}

.col-one {
    display: flex;
    flex-direction: column;

}

.heading {
    font-family: Quiche;
    color:white;
    text-align: left;
    margin-left: 2vw;
    font-size: 2vw;
}

.profile {
    background-color: transparent;
    border: 2px solid #9BBFB6;
    border-radius: 30px;
    margin-right: 2.5vw;
    width: 50vw;
    box-shadow: -2px 2px 4px 2px rgba(155, 191, 182, 0.5);      /*this worksss*/
    padding-bottom: 2vw;
}

.education {
    background-color: transparent;
    border: 2px solid #F19C79 ;
    border-radius: 30px;
    margin-left: 2.5vw;
    width: 35vw;
    box-shadow: 2px 2px 4px 2px rgba(241, 156, 121, 0.5);      /*this worksss*/
    text-align: left;
    /* padding-left: 2vw; */
}

.skills {
    background-color: transparent;
    border: 2px solid #D4E09B ;
    border-radius: 30px;
    margin-right: 2.5vw;
    width: 42.5vw;
    box-shadow: -2px 2px 4px 2px rgba(212, 224, 155, 0.5);      /*this worksss*/
    padding-bottom: 2vw;
}

.projects {
    background-color: transparent;
    border: 1px solid #C4C4C4 ;
    border-radius: 30px;
    margin-left: 2.5vw;
    width: 42.5vw;
    box-shadow: 2px 2px 4px 2px rgba(196, 196, 196, 0.5);      /*this worksss*/

    padding-bottom: 2vw;
}

.extra {
    background-color: transparent;
    border: 2px solid #A44A3F ;
    border-radius: 30px;
    width: 42.5vw;
    margin-top: 5vw;
    box-shadow: -2px 2px 4px 2px rgba(164, 74, 63, 0.5);      /*this worksss*/
    padding-bottom: 2vw;
}

.profile-content {
    display: flex;
    flex-direction: row;
}

.profile-picture {
    width: 10vw;
    height: auto;
    border-radius: 15px;
    margin-left: 2vw;
}

.subheading {
    color: white;
    font-family: Cabin;
    margin-top: 0;
    margin-left: 2vw;
    font-size: 2vw;
    text-align: left;
}

.regular-text {
    color: white;
    text-align: left;
    margin-left: 2vw;
    margin-right: 2vw;
    font-size: 1.2vw;
}

.education-content {
    color: white;
    font-family:  Cabin;
    font-size: 1.2vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}
.uni-year {
    font-style: italic;
    margin-top: 0;
}
.specifics {
    font-style: italic;
    margin: 0;
}

.guelph-pic {
    width: 10vw;
    border-radius: 15px;
    border: 1px solid white ;
    margin-left: 4vw;
}

.row-tech {
    padding-right: 2vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* max-height: fit-content; */
    /* width: inherit; */
}

.icon-sizes {
    height: 6vw;
    width: auto;
    margin: 1vw;
    
}

.club {
    padding-left: 2vw;
    padding-right: 2vw;
}

.position {
    text-align: left;
    color: white;
    font-weight:bold;
    font-size: 2vw;
    margin-bottom: 0;
    color: #F19C79;
}
.company {
    /* padding-left: 2vw; */
    font-style: italic;
    margin: 0;
}

.basic-info {
    display: flex;
    flex-direction: row;
    margin-left: 2vw;
    margin-right: 2vw;
}

.proj-detail {
    color: white;
    text-align: left;
    margin-left: 1vw;
    margin-right: 1vw;
    font-size: 1.2vw;
    font-style: italic;
    margin-bottom: 0;
    margin-top: 0.5vw;
}

.project-pic {
    width: 15vw;
    height: auto;
}

hr {
    border-color: rgb(79, 50, 185);
    width: 20%;
    justify-self: center;
    background-color: rgb(155, 191, 182);
    height: 3px;
    margin-top: 3vw;
    margin-bottom: 4vw;
}