.resume-body {
    background-image: url(./background.png);
    background-size: 100%;
    padding-bottom: 1500px;
}

.remove-margin {
    margin: 0px;
    padding: 0px;
}

.per-page {
    color: turquoise;
}