.zworld-body {
    background-image: url(./background.png);
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    max-height: fit-content;
    background-attachment: fixed;
    padding-block-start: 10vh;
}

.coming-soon {
    height: 90vh;
    vertical-align: middle;
}

.zworld-soon {
    color: white;
    font-family: Quiche;
    vertical-align: middle;
    font-size: 10vw;
    margin: 0;
    padding-top: 30vh;
}