.zworld-body {
    background-image: url(./background.png);
    background-size: 100%;
    padding-bottom: 1500px;
}

.remove-margin {
    margin: 0px;
    padding: 0px;
}

.zworld-test {
    color: rgb(152, 64, 224);
}