:root {
  --palegreen: #9BBFB6;
  --darkgreen:rgb(80, 105, 99);
  --palepink: #F19C79;
  --redbrown: #A44A3F;
  --paleblue: #89CFF0;
  --paleyellow: #F6F4D2;
  --paleblack: #161515;
  --white: #ffffff;
  --black: #000000;
}



.App {
  text-align: center;
  background-color: var(--main-bg-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-scroll {
  scroll-behavior: smooth;
  /* position: relative; */
}

a {
  text-decoration: none; /* no underline */
}
