body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Cabin';
  src: local('Cabin'), url(./fonts/Cabin/Cabin-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Quiche';
  src: local('Quiche'), url(./fonts/Quiche/Fontspring-DEMO-quichesans-regular.otf) format('truetype');
}