.projects-body {
    background-image: url(./background.png);
    background-size: cover;
    width: 100%;
    min-height: 90vh;
    max-height: fit-content;
    background-attachment: fixed;
    padding-block-start: 10vh;
}

.remove-margin {
    margin: 0px;
    padding: 0px;
}

.per-page {
    color: turquoise;
}